doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')  
    link(rel='stylesheet', href='/css/user.css', media='all')       
    link(rel='stylesheet', href='/css/matcha.css', media='all')       
  body
    header
      a(href='/')
        div
          img(src='/images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/notifications')
          img.notifications.icons(src='/images/icons/bell_0.png')
        a(href='/messages')
          img.messages.icons(src='/images/icons/envelope.png')
    h2(align='center') Your matches
    .filter_container(align='center')
      .content
        img(src='/images/icons/filter.png')
        .btn-group#filter_group(role='group' aria-label='Filter content')
          button.btn.btn-secondary.option(type='button', value='none') None
          button.btn.btn-secondary(type='button', value='age') Age
          button.btn.btn-secondary(type='button', value='location') Location
          button.btn.btn-secondary(type='button', value='tags') Tags
      #slider_container.age-slider.hide
        label Min Age:
          span#age_1 18
          input#slider_1(value='0' min='18' max='80' step='1' type='range')
        label Max Age:
          span#age_2
          input#slider_2(value='80' min='18' max='80' step='1' type='range')
    br
    .match_container.container
      if (users.length === 0)
        .no_results_container(align='center')
          img(src='images/icons/broken_heart.png', class='icon')
          h3.no_results It seems there are no results. Don't give up
      else
        .row
          each user, index in users
            a.col-sm.profile(class='', href=user.url)
              if (user.images.length === 0)
                img(src='images/placeholder.png')
              else
                if (user.images[0].name.startsWith('http://'))
                  img(src=user.images[0].name)
                else
                  img(src='images/users/' + user.images[0].name)
              .info_container
                img(src='images/icons/' + ((user.gender === 'F') ? 'female' : 'male') + '.png' )
                span.name #{user.username}
                br
                span.distance #{user.distance} km
  footer
    div(align='center')
      | Icons made by 
      a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
      |  | 
      a(href='https://www.flaticon.com/authors/bqlqn', title='bqlqn') bqlqn
      |  | 
      a(href='https://www.flaticon.com/authors/good-ware', title='Good Ware') Good Ware
      |  from 
      a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
  script(src='js/matcha.js')

