doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')  
    link(rel='stylesheet', href='/css/user.css', media='all')
    link(rel='stylesheet', href='/css/main.css', media='all')   
  body#matcha
    header
      a(href='/')
        div
          img(src='/images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/notifications')
          img.notifications.icons(src=(!notifications) ? '/images/icons/bell_0.png' : '/images/icons/bell.png')
        a(href='/chats')
          img.messages.icons(src=(!chats) ? '/images/icons/envelope.png' : '/images/icons/new_message.png')
        .user
          a(href='/user')
            if (!profile_pic)
              img#avatar(src='/images/icons/user.png')
            else if (profile_pic.name.startsWith('http://') || profile_pic.name.startsWith('https://'))
              img#avatar(src=profile_pic.name)
            else
              img#avatar(src='/images/uploads/' + profile_pic.name)
          a.logout(href='/logout') Logout
    h2(align='center') Your matches
    .filter_container(align='center')
      .content
        .sort_container
          img.sort_icon(src='/images/icons/sort.png')
          .btn-group#sort_group(role='group' aria-label='Filter content')
            button.btn.btn-secondary.option(type='button', value='asc') Asending
            button.btn.btn-secondary(type='button', value='desc') Descending
        .filter_content_container
          img(src='/images/icons/filter.png')
          .btn-group#filter_group(role='group' aria-label='Filter content')
            button.btn.btn-secondary(class=((filter === 'none')     ? 'option' : ''), type='button', value='none')
              a#none(href='/matcha') None
            button.btn.btn-secondary(class=((filter === 'age')      ? 'option' : ''), type='button', value='age') Age
            button.btn.btn-secondary(class=((filter === 'location') ? 'option' : ''), type='button', value='location')
              a#location(href='/matcha/location') Location
            button.btn.btn-secondary(class=((filter === 'tags')     ? 'option' : ''), type='button', value='tags')
              a#tags(href='/matcha/tags') Tags
      #slider_container.age-slider(class=(filter === 'age') ? '' : 'hide')
        label Min Age:
          span#age_1
          input#slider_1(value='0' min='18' max='110' step='1' type='range')
        label Max Age:
          span#age_2
          input#slider_2(value='80' min='18' max='110' step='1' type='range')
        input#age.custom_btn.ib(type='button', value='Search ages')
    br
    .match_container.container
      if (users.length === 0)
        .no_results_container(align='center')
          img(src='/images/icons/broken_heart.png', class='icon')
          h3.no_results It seems there are no results. Don't give up
      else
        #matches.row
          each user, index in users
            a.col-sm.profile(class='', href=user.url)
              if (user.images.length === 0)
                img(src='images/placeholder.png')
              else
                if (user.images[0].name.startsWith('http://'))
                  img(src=user.images[0].name)
                else
                  img(src='images/users/' + user.images[0].name)
              .info_container
                img(src='images/icons/' + ((user.gender === 'F') ? 'female' : 'male') + '.png' )
                span.name #{user.username}
                br
                span.distance #{user.distance} km
  footer
    div(align='center')
      | Icons made by 
      a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
      |  | 
      a(href='https://www.flaticon.com/authors/bqlqn', title='bqlqn') bqlqn
      |  | 
      a(href='https://www.flaticon.com/authors/smashicons' title='Smashicons') Smashicons
      |  | 
      a(href='https://www.flaticon.com/authors/good-ware', title='Good Ware') Good Ware
      |  from 
      a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
  script(src='/js/matcha.js')
  script(src='/js/reloadCSS.js')

