extends layout_auth

block content 
  #notifications
    h2 Notifications
    .list-group
      each val, index in userNotifications
        a.list-group-item.list-group-item-action.flex-column.align-items-start(href='profile/' + val.source.id)
          .d-flex.w-100.justify-content-between
            div
              if (val.type === 'unlike')
                img(src='/images/icons/unlike.png')
              if (val.type === 'views')
                img(src='/images/icons/views.png')
              if (val.type === 'like')
                img(src='/images/icons/like.png')
              if (val.type === 'block')
                img(src='/images/icons/block.png')
              h5.mb-1
                if (val.type === 'block')
                  | #{val.source.username} blocked you
                if (val.type === 'unlike')
                  | #{val.source.username} unliked you.
                if (val.type === 'views')
                  | Someone viewed your profile. Click here to see who it was.
                if (val.type === 'like')
                  if (val.connection === true)
                    | #{val.source.username} now likes you. It seems like there's a connection between the 2 of you.
                  else
                    | #{val.source.username} now likes you.
                .time
                  time(datetime=val.date_created)
                if (val.viewed === 'F')
                  span.badge.badge-secondary New
      if (userNotifications.length === 0)
        .all_clear
          img(href='images/icons/bell_0.png')
          | No notification. It's time to get noticed!
    footer
      div
        | Icons made by
        a(href='https://www.flaticon.com/authors/freepik' title='Freepik') Freepik
        |             |
        a(href='https://www.flaticon.com/authors/gregor-cresnar' title='Gregor Cresnar')  Gregor Cresnar
        |             from 
        a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
    script(src='/js/time_placeholders.js')





