doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} | Cupid's Arrow
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')
    link(rel='stylesheet', href='/css/profile.css', media='all')
  body
    header
      a(href='/')
        div
          img(src='/images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/notifications')
          img.notifications.icons(src='/images/icons/bell_0.png')
        a(href='/messages')
          img.messages.icons(src='/images/icons/envelope.png')
        .user
          a(href='/user')
           img(src='/images/wallpaper_2.jpg')
          a(href='/logout') Logout
    br
    h2 #{user.username}
    .content
      .images
        each image, index in user.images
          if (image.profile_pic === 'T')
            img(src=image.name)
      .details_container
        .gender
          img(src='/images/icons/' + ((user.gender === 'F') ? 'female' : 'male') + '.png' )
        span.pipe | 
        .rating #{user.rating}
          img(src='/images/icons/star.png')
        span.pipe | 
        .dob
          time #{user.age} old
      span.connection_status
       if(clientLikesUser === true && userLikesClient === true)
        img(src='/images/icons/connected.png')
        | You and #{user.username} are connected
       else if (userLikesClient === true)
        | #{user.username} likes you
       else if (clientLikesUser)
        | You like #{user.username}
       else
        | No one likes you
script(src='/js/reloadCSS.js')
