doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Your profile
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')  
    link(rel='stylesheet', href='/css/profile.css', media='all')       
  body
    header
      a(href='index.php')
        div
          img(src='images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/') Sign up | 
        a(href='/signin') Sign in
    .profile_content(align='center')
      .profile_pic_content
        img.profile_pic(src=user.picture, alt="User's profile pic")
        span.user_rating
          | #{user.rating} 
          img(src='images/icons/star.png')
        .thumbnails
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png', alt='pics')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
      .views_container
        a(href='view_list.php') #{user.viewcount} views this week
      form
        .edit
          span#username.value #{user.username}
          br
          input#s_username.custom_btn.ib(type='button', value='Edit')
          #username_edit.username_edit
            input#n_username.txt.ib(type='text', placeholder='New username')
            br
            #new-username-confirm.btn-group(role='group', aria-label='Confirm username change')
              button.btn.btn-secondary(type='button', name='e_username') Confirm
              button.btn.btn-secondary(type='button', name='c_username') Cancel
        .edit
          span#fullname.value #{user.fullname}
          br
          #fullname_edit.fullname_edit
            input#full_username.custom_btn.ib(type='button', value='Edit')
            br
            input#f_fname.txt.ib(type='text', placeholder='First name')
            | &nbsp; &nbsp; &nbsp; &nbsp;
            input#f_lname.txt.ib(type='text', placeholder='Last name')
            br
            #new-username-confirm.btn-group(role='group', aria-label='Confirm username change')
              button.btn.btn-secondary(type='button', name='e_username') Confirm
              button.btn.btn-secondary(type='button', name='c_username') Cancel
            //#input#s_username.custom_btn.ib(type='button', value='Save')
        .edit
          p Gender
          #gender_group.btn-group(role='group', aria-label='Gender')
            button.btn.btn-secondary(type='button', class=(user.sex == 'F' ? 'option' : '')) Female
            button.btn.btn-secondary(type='button', class=(user.sex == 'M' ? 'option' : '')) Male
        .edit
          p Sexual preference
          #preference_group.btn-group(role='group', aria-label='preferences')
            button.btn.btn-secondary(type='button', class=(user.sex == 'F' ? 'option' : '')) Female
            button.btn.btn-secondary(type='button', class=(user.sex == 'M' ? 'option' : '')) Male
            button.btn.btn-secondary(type='button', class=(user.sex == ''  ? 'option' : '')) Both
        .edit
          p Interests
          input#interests.custom_btn.ib(type='button', value='Edit')

        .edit
          p Biography
          p.value.bio #{user.biography}
        .edit
          input#find_me.custom_btn.ib.geo.hide(type='button', value='Find Me')
          #map
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZBn1NrjeC0gbFW4Fua4XEHudaTwvpy2Q')
    script(type='text/javascript', src='js/button_groups.js')
    script(type='text/javascript', src='js/map.js')

