doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} | Cupid's Arrow
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')
    link(rel='stylesheet', href='/css/main.css', media='all')
    link(rel='stylesheet', href='/css/user.css', media='all')
  body#profile
    header
      a(href='/')
        div
          img(src='/images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/admin/notifications')
          img.notifications.icons(src='/images/icons/bell_0.png')
        a(href='/admin/messages')
          img.messages.icons(src='/images/icons/envelope.png')
        .user
          a(href='/user')
           img(src='/images/wallpaper_2.jpg')
          a(href='/logout') Logout
    br
    .content
      h2 #{user.username}
      .available(align='center')
       .status(class=user.online)
       if (user.online == 'F')
        .last_seen Last seen: ${user.last_seen}
       else
        .last_seen Online
      .images
        each image, index in user.images
          if (image.profile_pic === 'T')
            img(src=image.name)
      .connection_status
       input#profile_id(type='hidden', value=user.id)
       if(clientLikesUser === true && userLikesClient === true)
        img(src='/images/icons/connected.png')
        span#connection_status You and #{user.username} are connected
       else if (userLikesClient === true)
        | #{user.username} likes you
        button#connection_button.btn.btn-dark(type='button') Like
       else if (clientLikesUser)
        | You like #{user.username}
       else
        | You and #{user.username} are not connected
        button.btn.btn-dark(type='button') Like
      .details_container(align='center')
        .gender
          img(src='/images/icons/' + ((user.gender === 'F') ? 'female' : 'male') + '.png' )
        span.pipe | 
        .rating #{user.rating}
          img(src='/images/icons/star.png')
        span.pipe | 
        .dob
          time #{user.age} old
      .location_container
        h3 Location
        img(src='/images/icons/distance.png')
        .distance
         span #{user.location.area}
         span #{user.location.country}
         span #{user.distance} km away
      script(src='/js/reloadCSS.js')
