doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
		link(rel='stylesheet', href='/css/alertify.min.css')
		link(rel='stylesheet', href='/css/style.css', media='all')  
		link(rel='stylesheet', href='/css/user.css', media='all')       
		link(rel='stylesheet', href='/css/main.css', media='all')       
	body#user
		header
			a(href='/')
				div
					img(src='images/logo.png')
				.heading
					h1 Cupid's Arrow
			.profile_container
				a(href='/notifications')
					img.notifications.icons(src=(!notifications) ? '/images/icons/bell_0.png' : '/images/icons/bell.png')
				a(href='/chats')
					img.messages.icons(src=(!chats) ? '/images/icons/envelope.png' : '/images/icons/new_message.png')
				.user
					a(href='/user')
						if (!profile_pic)
							img#avatar(src='/images/icons/user.png')
						else if (profile_pic.name.startsWith('http://') || profile_pic.name.startsWith('https://'))
							img#avatar(src=profile_pic.name)
						else
							img#avatar(src='/images/uploads/' + profile_pic.name)
					a.logout(href='/logout') Logout
		.profile_content(align='center')
			.profile_pic_content.slider
				if (user.images.length === 0)
					div
						img#profile_pic(src='/images/placeholder.png')
				else
					each image, index in user.images
						if (image.profile_pic === 'T')
							div
								if (image.name.startsWith('http://') || image.name.startsWith('https://'))
									img#profile_pic(src=image.name, alt='User\'s profile pic')
								else
									img#profile_pic(src='/images/uploads/' + image.name, alt='User\'s profile pic') 
				span.user_rating
					| #{user.rating} 
					img(src='/images/icons/star.png')
			form#profile_picture_form(enctype='multipart/form-data' action='/user/image.null', method='post')
				button#image_input_container.custom_btn.ib(type='button')
					input#image.image.hide(type='file', name='image', accept='image/*')
					| Change picture
				#new-image-confirm.btn-group(role='group', aria-label='Change profile picture')
					button#image_confirm.btn.btn-secondary(type='button') Confirm
					button#image_cancel.btn.btn-secondary(type='button') Cancel
			.views_container
				| #{user.viewcount} views
			form
				h4#username.value #{user.username}
				input#username_edit_btn.custom_btn.ib(type='button', value='Change username')
				#username_edit_container.edit.hide
					span#error_0.error
					input#username_txt(type='text', placeholder='New username')
					br
					#new-username-confirm.btn-group(role='group', aria-label='Confirm username change')
						button#username_confirm.btn.btn-secondary(type='button') Confirm
						button#username_cancel.btn.btn-secondary(type='button') Cancel
				h3#fullname.value #{user.first_name} #{user.last_name}
				input#fullname_edit_btn.custom_btn.ib(type='button', value='Change fullname')
				#fullname_edit_container.edit.hide
					span#error_1.error
					input#firstname_txt(type='text', placeholder='First name')
					br
					input#lastname_txt(type='text', placeholder='Last name')
					br
					#new-fullname-confirm.btn-group(role='group', aria-label='Confirm name change')
						button#fullname_confirm.btn.btn-secondary(type='button') Confirm
						button#fullname_cancel.btn.btn-secondary(type='button') Cancel
				.edit
					h4 Gender
					span#error_2.error
					#gender_group.btn-group(role='group', aria-label='Confirm gender change')
						button#gender_female_btn.btn.btn-secondary(type='button', class=(user.sex == 'F' ? 'option' : '')) Female
						button#gender_male_btn.btn.btn-secondary(type='button', class=(user.sex == 'M' ? 'option' : '')) Male
				.edit
					h4 Sexual preference
					span#error_3.error
					#preference_group.btn-group(role='group', aria-label='Confirm preference change')
						button#preference_female_btn.btn.btn-secondary(type='button', class=(user.preference == 'F' ? 'option' : '')) Female
						button#preference_male_btn.btn.btn-secondary(type='button', class=(user.preference == 'M' ? 'option' : '')) Male
						button#preference_both_btn.btn.btn-secondary(type='button', class=(user.preference != 'M' && user.preference != 'F'  ? 'option' : '')) Both
				.edit
					h4
						img(src='images/icons/bithday.png', alt='date of birth address', class='input_icon')
						p#dob #{user.dob}
					input#dob_edit_btn.custom_btn.ib(type='button', value='Change date of birth')
					#dob_edit_container.interest_edit.hide
						span#error_4.error
						input#dob_txt(type='text', name='dob', placeholder='Date of birth', required='')
						br
						#new-dob-confirm.btn-group(role='group', aria-label='Confirm date of birth')
							button#dob_confirm.btn.btn-secondary(type='button') Confirm
							button#dob_cancel.btn.btn-secondary(type='button') Cancel
				.edit
					h4
						img(src='images/icons/envelope.png', alt='email address', class='input_icon')
						p#email #{user.email}
					input#email_edit_btn.custom_btn.ib(type='button', value='Change email address')
					#email_edit_container.interest_edit.hide
						span#error_5.error
						input#email_txt(type='email', placeholder='New email')
						br
						#new-email-confirm.btn-group(role='group', aria-label='Confirm new email')
							button#email_confirm.btn.btn-secondary(type='button') Confirm
							button#email_cancel.btn.btn-secondary(type='button') Cancel
				.edit
					h4 Password
					input#password_edit_btn.custom_btn.ib(type='button', value='Change password')
					#password_edit_container.interest_edit.hide
						span#error_6.error
						input#old_password_txt(type='password', placeholder='Enter current password')
						br
						input#new_password_txt(type='password', placeholder='Enter new password')
						br
						input#confirm_password_txt(type='password', placeholder='Confirm password')
						#new-password-confirm.btn-group(role='group', aria-label='Confirm new password')
							button#password_confirm.btn.btn-secondary(type='button') Confirm
							button#password_cancel.btn.btn-secondary(type='button') Cancel
				.edit
					h4 Interests
					input#interests_add_btn.custom_btn.ib(type='button', value='Add')
					#interest_edit_container.interest_edit.hide
						span#error_7.error
						input#interest_txt(type='text', placeholder='Add interest')
						br
						#new-tags-confirm.btn-group(role='group', aria-label='Confirm new interest')
							button#interests_confirm.btn.btn-secondary(type='button') Confirm
							button#interests_cancel.btn.btn-secondary(type='button') Cancel
					ul#interests_list.list.multi-column
						each val, index in user.tags
							li(id=val.tag_id) #{val.name}
				.edit
					h4 Biography
					span#error_8.error
					p#biography.value.bio #{user.biography}
					input#biography_edit_btn.custom_btn.ib(type='button', value='Edit')
					#biography_edit_container.biography.hide
						textarea#biography_txt(placeholder='Say something about yourself')
						#new-tags-confirm.btn-group(role='group', aria-label='Confirm new interest')
							button#biography_confirm.btn.btn-secondary(type='button') Confirm
							button#biography_cancel.btn.btn-secondary(type='button') Cancel
				.edit
					span#error_8.error
					input#find_me.custom_btn.geo.hide(type='button', value='Find Me')
					#map
			footer
				| Icons made by 
				a(href='https://www.flaticon.com/authors/dave-gandy', title='Dave Gandy') Dave Gandy
				|  from 
				a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com 
				| | 
				a(href='https://www.flaticon.com/authors/pixel-perfect', title='Pixel perfect') Pixel perfect
				| | 
				a(href="https://www.flaticon.com/authors/those-icons", title="Those Icons") Those Icons 
				|  from 
				a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZBn1NrjeC0gbFW4Fua4XEHudaTwvpy2Q')
	//- script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/flatpickr')
	script(type='text/javascript', src='/js/alertify.min.js')
	script(type='text/javascript', src='/js/button_groups.js')
	script(type='text/javascript', src='/js/xhr.js')
	script(type='text/javascript', src='/js/map.js')
	script(type='text/javascript', src='/js/user.js')
	script(type='text/javascript', src='/js/reloadCSS.js')
